.main{
  background-image: url(./assests/back.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  /* background-color: red; */


}

.backk{
  background-image: url(./assests/back.png);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.haldi {
  background-image: url(./assests/haldi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nakh  {
  background-image: url(./assests/nikha.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sha{
  background-color: rgba(0, 0, 0, 0.526);
}

.font1 {
  font-family: "Comfortaa", serif;
  font-size: 30px;
  font-weight: 700  ;
  font-style: normal;
}

.font2 {
  font-family: "Comfortaa", serif;
  font-size: 32px;
  font-weight: regular;  
  font-style: normal;
  letter-spacing: -2%;
  line-height: 40px;

}

.abeezee-regular {
  font-family: "ABeeZee", serif;
  font-weight: 10;
  font-style: normal;
}


body{
 overflow-x: hidden;
}


.allura-regular {
  font-family: "Allura", serif;
  font-weight: 400;
  font-style: normal;
}


.font3 {
  font-family: "Comfortaa", serif;
  font-weight: bold;  
  font-style: normal;
  letter-spacing: -2%;

}

.cookie-regular {
  font-family: "Cookie", serif;
  font-weight: 400;
  font-style: normal;
}
